[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
channels = "*"
gunicorn = "*"
requests = "*"
channels-redis = "*"
celery = {extras = ["redis"],version = "*"}
msgpack = "*"
future = "*"
uvicorn = "*"
uvloop = "*"
httptools = "*"
websockets = "*"
psycopg2 = "*"
flower = {file = "https://github.com/mher/flower/zipball/master"}
twisted = "==22.2.0"

[requires]
python_version = "3.9"
